/* CSS geral */
html, body {
    height: 100%;          /* necessário para flexbox funcionar */
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--fonte-principal);
    background-color: var(--vermelho-escuro);
    color:var(--azul-marinho)
}
/* Header */
header{
    background-color: var(--roxo-escuro);
    color:var(--branco);
    padding: 2rem;
    text-align: center;
}
header h1{
    font-family: var(--fonte-secundaria);
    font-size: 3rem;
    margin:0;
}
header p{
    font-family: var(--fonte-texto);
    font-size: 1.2rem;
    margin:0.5rem;
}
/* Main */
main{

    flex: 1;               /* ocupa todo espaço restante */
    padding-bottom: 100px; /* espaço para o footer, evita sobreposição */
    padding: 2rem;
     padding-bottom: 120px;
 
}
