 <!-- BANNER PRINCIPAL -->

        <div class="banner-principal">
            <img src="{{ url_for('static', filename='img/banner/callGirls_21.jpg') }}" alt="Banner Principal">
            <div class="overlay"></div> <!-- camada de transparência -->
            <div class="banner-texto">
                <h1>Descubra nossas modelos incríveis</h1>
                <p>Explore nosso portfólio completo e encontre o estilo perfeito</p>
                <a href="{{ url_for('home.page_modelo') }}" class="btn-banner">Ver Modelos</a>
                <script src="https://kit.fontawesome.com/yourkitid.js" crossorigin="anonymous"></script>
            </div>
        </div>

        <a href="https://web.whatsapp.com/" target="_blank" class="icone-flutuante">
             <img src="{{url_for('static', filename='img/icones/whatsapp.png')}}" alt="Ícone">
        </a>

<!-- FIM BANNER -->