<!-- NAV MENU -->
<nav class="navbar">
    <div class="logo"><a href="{{ url_for('home.index') }}">The Night</a></div>

    <ul class="nav-links" id="navLinks">
        <li><a href="{{ url_for('home.index') }}">Início</a></li>
        <li><a href="{{ url_for('home.page_modelo') }}">Modelos</a></li>
        <li><a href="{{ url_for('home.imagens') }}">Galeria</a></li>
        <li><a href="{{ url_for('home.servicos') }}">Serviços</a></li>
        <li><a href="{{url_for('home.contatos')}}">Contato</a></li>
    </ul>

    <form class="search-form" action="{{ url_for('home.index') }}" method="GET">
        <input type="text" name="pesquisa" placeholder="Digite Nome" value="{{ pesquisa }}">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div class="menu-btn" id="menuBtn">&#9776;</div>
</nav>