<footer class="footer">
    <div class="footer-container">

        <p class="footer-title">Siga-nos nas redes sociais</p>

        <div class="social-icons">
            <a href="https://web.telegram.org/"  target="_blank" class="telegram"><i class="fa-brands fa-telegram"></i></a>
            <a href="https://www.instagram.com/"  target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://x.com/"  target="_blank" class="twitter"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://web.whatsapp.com/"  target="_blank" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.facebook.com/"  target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a>
        </div>

        <p class="copy">© 2025 — Todos os direitos reservados.</p>
    </div>
</footer>


<script src="{{url_for('static', filename='js/menu.js')}}"></script>
