{% extends 'template/base.html' %}
{% block template %}

<h1 class="titulo-destaques">Nossas Modelos</h1>

<div class="modelos-grid">
    {% for modelo in modelos %}
    <div class="modelo-card">
        <a href="{{ url_for('home.perfil_modelo', id=modelo.id) }}">
            <img src="{{ url_for('static', filename='img/destaques/' ~ modelo.imagem) }}" alt="{{ modelo.nome }}">
        </a>
        <div class="conteudo">
            <h2>{{ modelo.nome }}</h2>
            <p>{{ modelo.descricao }}</p>
            <a href="{{ url_for('home.perfil_modelo', id=modelo.id) }}" class="btn-perfil">Ver Perfil</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

