@import url(../css/pages/reset.css);
@import url(../css/pages/variaveis.css);
@import url(../css/pages/base.css);
@import url(../css/pages/perfilbook.css);
@import url(../css/componentes/banner.css);
@import url(../css/pages/modelo.css);
@import url(../css/pages/index.css);
@import url(../css/componentes/rodape.css);
@import url(../css/componentes/ensaio.css)