@import url(../css/pages/reset.css);
@import url(../css/pages/variaveis.css);
@import url(../css/componentes/carrocel_index.css);
@import url(../css/componentes/navmenu.css);
@import url(../css/componentes/banne.css);
@import url(../css/pages/base.css);
@import url(../css/componentes/perfil.css);
@import url(../css/componentes/ensaio.css);
@import url(../css/componentes/galeria.css);
@import url(../css/componentes/rodape.css);
