<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>{{ home[0].titulo }}</title>
</head>
<body>

    <header>
        <h1>{{ home[0].titulo }}</h1>
        <p>Bem-vindo ao nosso portal de modelos</p>
    </header>

    <main>
        
      {% block template %}
      {% endblock %}

    </main>

    <footer>
        &copy; 2025 Seu Projeto. Todos os direitos reservados.
    </footer>

</body>
</html>